@model List<VitaeSystem.Models.ViewModels.ModeloTrabajadorcs>
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="~/css/trabajdor.css" />
    <title>Reporte trabajador</title>
</head>
<body>

    <table class="table">
        <thead>
                <th scope="col">
                   
                        <div class="tituloprincipal">
                            <h1>Reporte Trabajador</h1>
                        </div>
                        
                        <div class="formacion2">
                            <h3><span class="sombreado2">usuarios:</span></h3>
                            <ul>
                                @foreach (var item in Model)
                                {
                                    <div>
                                    <li id="franja">Nombre: <i class="bi bi-people-fill">@item.Nombre</i></li>
                                    <li id="franja">Telefono: <i class="bi bi-people-fill">@item.Telefono</i></li>
                                    <li id="franja">Correo: <i class="bi bi-people-fill">@item.Email</i></li>
                                    <li id="franja">Apodo: <i class="bi bi-people-fill">@item.Nickname</i></li>
                                    </div>
                                     <div class="solicitante4">
                            
                                     </div>
                                }
                            </ul>
                           

                </th>
            </tr>
        </thead>
    </table>

</body>
</html>

