@model VitaeSystem.Models.ViewModels.ModeloSolicitante
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="~/css/vitae.css" />
    <title>Reporte Curriculum</title>
</head>
<body>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">
              <section class="apartado1">
                <div class="imagen">
                    <img src="https://www.latercera.com/resizer/Jw37YLm2lX8o_akIpM57enxchxA=/arc-anglerfish-arc2-prod-copesa/public/XQP24CTNQND2TBDZ7AQN54D44Y.jpg" width="200" height="200" alt="">
                </div>
              </section>
          </th>
          <th scope="col">
              <section class="apartado2">

              </section>
          </th>
        </tr>
      </thead>
    </table>

</body>
</html>


